<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDEcyl6YlIAYAA49jz6zYFGZyK8VN6TH98</string>
	<key>GCM_SENDER_ID</key>
	<string>383150421118</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lms</string>
	<key>PROJECT_ID</key>
	<string>ezborrow-69a14</string>
	<key>STORAGE_BUCKET</key>
	<string>ezborrow-69a14.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:383150421118:ios:db1de77bf9e9a1e41ed42f</string>
</dict>
</plist>